@model TechnicalInterview_FeedReader.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}
<section id="titleBg">
    <div class="title">Feed<span class="textcolor">Reader</span></div>
    <div class="gradline"></div>
</section>
<section id="loginForm">
    <div class="loginBtns">
        <a href="#" class="active">Log in </a>
        <a href="~/Account/Register" class="inactive">Register </a>
    </div>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
   

        <fieldset>
            <legend>Log in Form</legend>
            <table class="logintable">
                <tr>
                    <td>@Html.LabelFor(m => m.UserName)</td>
                    <td>@Html.TextBoxFor(m => m.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(m => m.Password)</td>
                    <td>@Html.PasswordFor(m => m.Password)</td>
                </tr>
                <tr>
                    <td>@Html.CheckBoxFor(m => m.RememberMe)</td>
                    <td>@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</td>
                </tr>
            </table>
            <input type="submit" value="Log in" />
        </fieldset>
        <br />
        <br />
        <br />    
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.Password)
        @Html.ValidationSummary(true)
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
