@model TechnicalInterview_FeedReader.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<section id="titleBg">
    <div class="title">Feed<span class="textcolor">Reader</span></div>
    <div class="gradline"></div>
</section>
<section id="loginForm">
    <div class="loginBtns" >
        <a href="~/Account/Login" class="inactive"> Log in </a>
        <a href="#" class="active"> Register </a>
    </div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    

    <fieldset>
        <legend>Register Form</legend>
        <table class="logintable">
            <tr>
                <td style="width:25%;">@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
        </table>
        <input type="submit" value="Register" />
    </fieldset>
    <br /><br />
    @Html.ValidationSummary()
}
 </section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
